:root {
  --highlight-color: #2196f3;
  --white-color: #ffffff;
  --gray-color: #757575;
  --balck-color: #212121;
  --backgrounde-color: #2f303a;
  --gray-bc: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.unstyled-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.gray-bg {
  background-color: var(--gray-bc);
}

/*Header styling */

.page-header {
  background-color: var(--white-color);
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 32 0;
  align-items: center;
}
.nav-header {
  margin-left: 93px;
}
.main-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14 px;
  letter-spacing: 0.02em;
}
.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: var(--highlight-color);
}

.contact-list {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  margin-right: 40px;
}

.contact-list:hover,
.contact-list:active,
.contact-list:focus {
  color: var(--highlight-color);
}

.page-header-logo {
  color: black;
  text-decoration: none;
}

.page-header-logo span {
  text-decoration: none;
  color: var(--highlight-color);
}

.main-nav-item {
  display: flex;
  margin-right: 50px;

  margin-left: 12px;
}
.main-nav-item:hover {
  cursor: pointer;
}
.contacts-header {
  margin-left: 385px;
}
.contact-icon {
  fill: var(--gray-color);
  margin-left: -6px;
  margin-bottom: -10px;
}
.contact-icon:hover {
  fill: var(--highlight-color);
}
/*Main section */

.service-button {
  color: var(--white-color);
  background-color: #2196f3;
  border: 1px solid var(--highlight-color);
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.service-button:hover {
  color: var(--white-color);
  background-color: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.service-button:active,
.service-button:focus {
  color: var(--white-color);
  background-color: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button {
  text-align: center;
  padding-bottom: 210px;
}
.main-section {
  background-image: url(../images/imgbg.jpg);
}

.main-title {
  color: var(--white-color);
  width: 100%;

  left: 0px;
  top: 80px;
}

.title {
  text-align: center;
  padding-top: 200px;

  padding-left: 452px;
  padding-right: 452px;
  font-size: 44px;
}
/*Detailes Section */

.subtitle-detailes-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--balck-color);
  margin-top: 30px;
}
.paragraf-detailes-section {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: var(--gray-color);

  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  margin-top: 10px;
}

.div-paragraf-detailes-section {
  display: inline-flex;
}
.detailes {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-top: 70px;
  margin-right: 30px;
}
.header-icon {
  margin-bottom: 30px;
  display: block;
  margin: auto;
  width: 80px;
}
/*Presentation  Section */

.title-presentation {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--balck-color);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 120px;
}
.img-1 {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
  margin-right: 30px;
}
.img-2 {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
  margin-right: 30px;
}
.img-3 {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}

.flex {
  display: inline-flex;
}
/*Team  Section */

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--balck-color);
  text-align: center;
  margin-top: 77px;
  margin-bottom: 50px;
}

.name-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--balck-color);
  text-align: center;
  margin-bottom: 0px;
}
.description-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
  text-align: center;
  margin-bottom: 90px;
}

.team-section {
  width: 1200px;
  margin: 0 auto;
  display: inline-flex;
}
.margin {
  margin-bottom: 94px;
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.social-icons {
  width: 20px;
  height: 20px;
}
.container-team {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
}
.social-icon {
  width: 20px;
  height: 20px;
}
/*Costumers Section */
.title-costumers {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
}
.costumers {
  width: 170px;
  height: 92px;
  left: 215px;
  top: 2493px;
  border: 1px solid rgba(175, 177, 184, 1);
  margin-right: 21px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.regular-icon {
  display: block;
  margin: auto;
  width: 112px;
  fill: var(--gray-color);
}
.regular-icon:hover {
  cursor: pointer;
  fill: var(--highlight-color);
}
/* Footer  Section*/

.page-footer {
  background-color: var(--backgrounde-color);
}

.page-footer-logo {
  color: black;
  text-decoration: none;
}
.page-footer-logo-span {
  color: var(--highlight-color);
  text-decoration: none;
}

.adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover,
.adress-link:active,
.adress-link:focus {
  color: var(--highlight-color);
}

.color-adress {
  color: var(--white-color);
}
.find-us {
}
/*Portofolio HTML*/
.button-section {
  background: none;
  border: none;
  margin-right: 30px;
  background-color: #f5f4fa;
  width: 83px;
  height: 38px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

.button-section:hover {
  border: none;
  cursor: pointer;
  background-color: var(--highlight-color);
  color: var(--white-color);
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 22px;
  margin-right: 22px;
}
.button-section:active {
  background: #2196f3;
}
.button-section:focus {
  list-style-type: none;
  background-color: var(--highlight-color);
  color: var(--white-color);
}
.align-center-button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 94px;
  margin-bottom: 56px;
}
.subtitle-detailes {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--balck-color);
  letter-spacing: 0.06em;
  margin-top: 20px;
}
.paragraf-detailes {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--gray-color);
  letter-spacing: 0.03em;
  margin-top: 4px;
}
.list {
  list-style-type: none;
}
.img-portofolio {
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
.photo-portofolio:hover {
  border: 1px solid rgba(238, 238, 238, 1);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  color: rgb(238, 238, 238, 1) rgb(255, 255, 255, 1);
}
.flex-1 {
  display: flex;
  margin-top: 56px;
}

.margin-button {
  margin-bottom: 114px;
}
